.boxOn {
	width: fit-content;
	padding: 6px 15px;
	border-radius: 20px;
	color: rgb(245, 245, 245);
	user-select: none;
}
.boxOff {
	width: fit-content;
	padding: 6px 15px;
	border-radius: 20px;
	color: #727272;
	background: #ddd;
	user-select: none;
}
