.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 2% 15px;
  border-radius: 20px;
  background: linear-gradient(170deg, rgb(219, 219, 219), rgb(214, 214, 214));
  user-select: none;
  cursor: pointer;
}
.boxOff {
  background: linear-gradient(170deg, #0ad4fa, #09b1d3);
  color: #ffffff;
}
