.nav {
  position: sticky;
  top: 0;
  justify-content: space-between;
  height: fit-content;
  padding: 10px;
  z-index: 1;
  background: rgba(245, 245, 245, 1);
  box-shadow: 0px 0px 2px 0.1px rgba(15, 15, 15, 1);
}

.aerolabLogo {
  height: 100%;
  margin: 5px 5px 5px 3vw;
}
.coinBox {
  padding: 5px;
  margin: 0 10px;
  background: #aaa;
}
.invalidInput {
  border: 2px rgb(180, 0, 0) solid;
}
.username {
  font-size: 2vw;
}
@media (max-width: 400px) {
  .aerolabLogo {
    transform: scale(0.8);
  }
  .coin {
    transform: scale(0.7);
    line-height: 5px;
  }
}
@media (min-width: 1200px) {
  .aerolabLogo {
    transform: scale(1.5);
  }

  .username {
    font-size: 1.5vw;
  }
}
