.products {
	box-sizing: content-box;
	position: relative;
	width: max-content;
	margin: 10px;
}
.box {
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
	width: max-content;
	padding: 30px 5px;
	background: white;
	box-shadow: 2px 2px 5px 0.1px rgba(150, 150, 150, 1);
}
.clickedBox {
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
	width: max-content;
	padding: 30px 5px;
	box-shadow: 2px 2px 5px 0.1px rgba(150, 150, 150, 1);
	background-image: linear-gradient(-180deg, #0ad4fa 0%, #25bbf1 100%);
	opacity: 0.8;
}
.boxInfo {
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.info {
	margin: 15px;
	padding: 5px 0;
	border-top: 1px rgb(200, 200, 200) solid;
}
.buyIcon {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	padding: 10px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.category,
.title {
	margin: 0px;
}
.redeem {
	position: absolute;
	align-items: center;
	z-index: 1;
}
