.header {
	position: relative;
}
.headerImage {
	background-image: url('/assets/header-x1.png');
	background-size: cover;
	background-repeat: space;
	min-height: 70vh;
	box-shadow: 2px -10px 30px 1px #42e0ff;
}
.headerTitle {
	position: relative;
	top: -130px;
	left: 50px;
	margin: 0px;
	line-height: 50px;
	font-family: SourceSansPro-Bold;
	font-weight: bold;
	color: rgb(245, 245, 245);
}
.filter {
	justify-content: space-between;
	width: 70%;
	margin: 15px auto;
	padding: 10px;
	border-bottom: 0.1px rgb(200, 200, 200) solid;
}
.productsAmount {
	margin: 0 15px;
	padding: 5px 15px 5px 5px;
	border-right: 1px #aaa solid;
}
.section {
	width: 80%;
	margin: auto;
}
.productsAmountFooter {
	padding: 10px;
	margin: 20px;
	justify-content: space-between;
	border-bottom: 1px solid rgb(200, 200, 200);
}
